body{
    margin: 0;
    padding: 0;
}

/* CSS MENU NAVIGATION */
.navbar{
    padding: 20px 150px;
    background-color: #f0f1fa!important;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 11px #adb3e2;
    z-index: 100;
}
@media screen and (max-width: 1025px){
.navbar{
    padding: 20px 50px;
}
}
@media screen and (max-width: 769px){
.navbar{
    padding: 10px 30px;
}
}
.nav-item{
    padding-left: 10px;
}
@media screen and (max-width: 769px){
.nav-item .nav-link{
    padding: 5px 10px;
}
}
.nav-item a:hover{
    background-color: #41afff;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
}
@media screen and (max-width: 769px){
.nav-item a:hover{
    padding: 5px 10px;
}
}
.nav-link{
    color: black;
    font-family: 'Sarabun', sans-serif;
}
.signup{
    padding-left: 5px;
}
.nav .signup .btn{
    box-shadow: 3px 5px 12px #adb3e2;
    font-family: 'Sarabun', sans-serif;
    background-color: #41afff;
    border: none;
    padding: 8px 16px;
}
@media screen and (max-width: 769px){
.nav .signup .btn{
    padding: 5px 10px;
}
}
.nav .signup a:hover{
    background-color: #007bff;
}

/* CSS JUMBOTRON 1 */
.jumbotron1{
    display: flex;
    padding: 100px 150px 0px 150px;
    margin-bottom: 0px !important;
    background-color: #f0f1fa!important;
}
@media screen and (max-width: 1025px){
.jumbotron1{
    padding: 100px 50px 0px 50px;
}
}
.btnstarted .btn{
    font-size: 14px;
    box-shadow: 0px 14px 23px #adb3e2;
    background-color: #41afff;
    border: none;
    padding: 10px 20px;
}
@media screen and (max-width: 769px){
.btnstarted .btn{
    padding: 5px 10px;
}
}
.btnstarted a:hover{
    background-color: #007bff;
}
.main1left{
    padding-top: 50px;
}
.main1left h1{
    font-family: 'Rubik', sans-serif;
}
@media screen and (max-width: 769px){
.main1left h1{
    font-size: 30px;
}
}
.main1left p{
    font-family: 'Sarabun', sans-serif;
    font-size: 14px;
}
.main1right{
    text-align: center;
}
.main1right img{
    width: 80%;
    height: 350px;
}
@media screen and (max-width: 1025px){
.main1right img{
    width: 90%;
}
}
@media screen and (max-width: 769px){
.main1right img{
    height: 50%;
}
}

/* CSS JUMBOTRON 2 */
.jumbotron2{
    text-align: center;
    background: linear-gradient(to bottom, #f2f3fa 0%, #fcfdff 100%);
    padding: 100px;
    margin-bottom: 0px !important;
}
@media screen and (max-width: 1025px){
.jumbotron2{
    padding: 100px 50px;
}
}
@media screen and (max-width: 769px){
.jumbotron2{
    padding: 50px;
}
}
.jumbotron2 h2{
    margin: auto;
    font-family: 'Rubik', sans-serif;
}
@media screen and (max-width: 769px){
    .jumbotron2 h2{
        font-size: 30px;
    }
}
.bisnisrow{
    padding-top: 100px;
}
@media screen and (max-width: 769px){
.bisnisrow{
    padding-top: 50px;
}
}
.bisnisblock{
    text-align: center;
    padding: 0px 50px;
}
@media screen and (max-width: 769px){
.bisnisblock{
    padding: 0px;
}
}
.shapebisnis h6{
    padding-top: 10px;
}
@media screen and (max-width: 769px){
.shapebisnis h6{
    padding-top: 0px;
    font-size: 18px;
}
}
.shaperound{
    height: 60px;
    width: 65px;
    border-radius: 15px;
    margin: auto;
    padding-top: 13px;
    background-color: #fff;
    box-shadow: 0px 14px 23px #d9dae0;
}
@media screen and (max-width: 769px){
.shaperound{
    height: 55px;
    width: 60px;
    padding-top: 10px;
}
}
.shapebisnis p{
    padding-top: 10px;
    font-family: 'Sarabun', sans-serif;
}
@media screen and (max-width: 769px){
.shapebisnis p{
    padding-top: 0px;
    font-size: 14px;
}
}

/* CSS JUMBOTRON 3 */
.jumbotron3{
    padding: 100px 150px 100px 150px;
    margin-bottom: 0px !important;
    background: linear-gradient(to bottom, #f2f3fa 0%, #fcfdff 100%);
}
@media screen and (max-width: 1025px){
.jumbotron3{
    padding: 100px 50px 100px 50px;
}
}
@media screen and (max-width: 769px){
.jumbotron3{
    padding: 50px;
}
}
.manage1left{
    text-align: left;
}
.manage1left h2{
    padding-top: 20px;
    font-family: 'Rubik', sans-serif;
}
@media screen and (max-width: 769px){
.manage1left h2{
    padding-top: 0px;
    font-size: 30px;
}
}
@media screen and (max-width: 769px){
.manage1left a , .manage1left i{
    font-size: 14px;
}
}
.manage1left p{
    padding-top: 10px;
    padding-right: 15px;
    font-family: 'Sarabun', sans-serif;
}
@media screen and (max-width: 769px){
.manage1left p{
    padding-top: 0px;
    font-size: 14px;
}
}
.manage1right{
    text-align: center;
}
@media screen and (max-width: 769px){
.manage1right{
    padding-top: 100px;
}
}
.manage1right img{
    width: 100%;
    height: 350px;
}
@media screen and (max-width: 769px){
.manage1right img{
    height: 250px;
}
}
.shaperoundmanage{
    height: 60px;
    width: 65px;
    border-radius: 15px;
    text-align: center;
    padding-top: 12px;
    background-color: #fff;
    box-shadow: 0px 14px 23px #d9dae0;
}
@media screen and (max-width: 769px){
.shaperoundmanage{
    height: 55px;
    width: 60px;
    padding-top: 10px;
}
}

/* CSS JUMBOTRON 4 */
.jumbotron4{
    padding: 100px 150px 100px 150px;
    margin-bottom: 0px !important;
    background: linear-gradient(to bottom, #f2f3fa 0%, #fcfdff 100%);
}
@media screen and (max-width: 1025px){
.jumbotron4{
    padding: 100px 50px 100px 50px;
}
}
@media screen and (max-width: 769px){
.jumbotron4{
    padding: 50px;
}
}
.perform1left{
    text-align: left;
}
.perform1left h2{
    padding-top: 10px;
    font-family: 'Rubik', sans-serif;
}
@media screen and (max-width: 769px){
.perform1left h2{
    padding-top: 0px;
    font-size: 30px;
}
}
@media screen and (max-width: 769px){
.perform1left a, .perform1left i{
    font-size: 14px;
}
}
.perform1left p{
    padding-top: 5px;
    font-family: 'Sarabun', sans-serif;
}
@media screen and (max-width: 769px){
.perform1left p{
    padding-top: 0px;
    font-size: 14px;
}
}
.perform1right{
    text-align: center;
}
.perform1right img{
    width: 100%;
    height: 375px;
}
@media screen and (max-width: 769px){
.perform1right img{
    height: 320px;
}
}
.shaperoundperform{
    height: 60px;
    width: 65px;
    border-radius: 15px;
    text-align: center;
    padding-top: 12px;
    background-color: #fff;
    box-shadow: 0px 14px 23px #d9dae0;
}
@media screen and (max-width: 769px){
.shaperoundperform{
    height: 55px;
    width: 60px;
    padding-top: 10px;
}
}

/* CSS JUMBOTRON 5 */
.jumbotron5{
    padding: 100px 150px 100px 150px;
    margin-bottom: 0px !important;
    background: linear-gradient(to bottom, #f2f3fa 0%, #fcfdff 100%);
}
@media screen and (max-width: 1025px){
.jumbotron5{
    padding: 100px 50px 100px 50px;
}
}
@media screen and (max-width: 769px){
.jumbotron5{
    padding: 50px;
}
}
.team1left{
    text-align: left;
    padding-top: 50px;
}
.team1left h2{
    padding-top: 10px;
    font-family: 'Rubik', sans-serif;
}
@media screen and (max-width: 769px){
.team1left h2{
    padding-top: 0px;
    font-size: 30px;
}
}
@media screen and (max-width: 769px){
.team1left a , .team1left i{
    font-size: 14px;
}
}
.team1left p{
    padding-top: 5px;
    font-family: 'Sarabun', sans-serif;
}
@media screen and (max-width: 769px){
.team1left p{
    padding-top: 0px;
    font-size: 14px;
}
}
.team1right{
    text-align: center;
    padding-left: 20px;
}
@media screen and (max-width: 769px){
.team1right{
    padding-top: 50px;
}
}
.team1right img{
    width: 100%;
    height: 400px;
}
@media screen and (max-width: 769px){
.team1right img{
    height: 280px;
}
}
.shaperoundteam{
    height: 60px;
    width: 65px;
    border-radius: 15px;
    text-align: center;
    padding-top: 12px;
    background-color: #fff;
    box-shadow: 0px 14px 23px #d9dae0;
}
@media screen and (max-width: 769px){
.shaperoundteam{
    height: 55px;
    width: 60px;
    padding-top: 10px;
}
}

/* CSS JUMBOTRON 6 */
.jumbotron6{
    padding: 100px 50px 100px 50px;
    margin-bottom: 0px !important;
    background: linear-gradient(to bottom, #f2f3fa 0%, #fcfdff 100%);
}
@media screen and (max-width: 769px){
.jumbotron6{
    padding: 50px;
}
}
.jumbotron6 h2{
    padding-top: 10px;
    font-family: 'Rubik', sans-serif;
}
@media screen and (max-width: 1025px){
.jumbotron6 h2{
    padding-bottom: 40px;
}
}
@media screen and (max-width: 769px){
.jumbotron6 h2{
    font-size: 28px;
    padding-bottom: 20px;
}
}
.shaperoundcompanies{
    height: 60px;
    width: 65px;
    border-radius: 15px;
    text-align: center;
    padding-top: 12px;
    background-color: #fff;
    box-shadow: 0px 14px 23px #d9dae0;
}
@media screen and (max-width: 1025px){
.shaperoundcompanies{
    padding-top: 12px;
}
}
@media screen and (max-width: 769px){
.shaperoundcompanies{
    height: 55px;
    width: 60px;
    padding-top: 10px;
}
}
.arrow{
    padding-top: 100px;
    display: flex;
    justify-content: flex-end;
}
.arrowleft a{
    padding-right: 10px;
    font-size: 20px;
    color: grey;
}
.arrowright a{
    padding-right: 50px;
    font-size: 20px;
    color: grey;
}
.arrowleft a , .arrowright a{
    font-size: 25px;
}

.companies{
    text-align: center;
    padding: 50px 20px;
}
@media screen and (max-width: 1025px){
.companies{
    padding: 0px;
}
}
.companies .row .col-md-4{
    padding: 0px 35px;
}
@media screen and (max-width: 1025px){
.companies .row .col-md-4{
    padding: 0px 25px;
}
}
@media screen and (max-width: 769px){
.companies .row .col-md-4{
    padding-right: 15px;
}
}
.box-companies{
    height: 200px;
    box-shadow: 0px 1px 23px #aaaaaa;
    padding: 20px;
    border-radius: 10px;
}
@media screen and (max-width: 769px){
.box-companies{
    padding: 15px 10px 10px 10px;
    height: 180px;
}
}
.box-companies p{
    font-size: 14px;
    font-family: 'Sarabun', sans-serif;
}
@media screen and (max-width: 769px){
.box-companies p{
    font-size: 12px;
}
}
.shapetest1 img{
    width: 50px;
    height: 50px;
}
.shapetest2 img{
    width: 50px;
    height: 50px;
}
.shapetest3 img{
    width: 50px;
    height: 50px;
}
.testimoni-name .row .col-md-8{
    padding-top: 5px;
    text-align: left;
}
.testimoni-name .row .col-md-8 p{
    font-family: 'Sarabun', sans-serif;
}
.testimoni-name h6{
    margin: 0px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
}

/* CSS JUMBOTRON 7 */
.jumbotron7{
    padding: 100px 150px 50px 150px;
    margin-bottom: 0px !important;
    background: linear-gradient(to bottom, #f2f3fa 0%, #fcfdff 100%);
    text-align: center;
}
@media screen and (max-width: 769px){
.jumbotron7{
    padding: 50px;
}
}
.jumbotron7 h2{
    font-family: 'Rubik', sans-serif;
}
@media screen and (max-width: 769px){
.jumbotron7 h2{
    font-size: 30px;
}
}
.numberrow{
    padding: 50px 0px;
}
.numberblock{
    text-align: center;
    padding: 0px 0px;
}
.shapenumber{
    text-align: center;
}
.shapenumber h4{
    padding-top: 20px;
    margin-bottom: 0px;
    font-family: 'Rubik', sans-serif;
}
.shapecount{
    height: 60px;
    width: 65px;
    border-radius: 15px;
    margin: auto;
    padding-top: 13px;
    background-color: #fff;
    box-shadow: 0px 14px 23px #d9dae0;
}
.shapenumber p{
    padding-top: 10px;
    font-family: 'Sarabun', sans-serif;
    font-size: 14px;
}

/* CSS JUMBOTRON 8 */
.jumbotron .jumbotron8{
    background: #fff!important;
}
.jumbotron8{
    /* padding: 50px 150px 0px 150px; */
    margin-bottom: 0px !important;
    background-image: url('../assets/bgstarted.png');
	background-repeat: no-repeat;
	background-size: 100%;
    text-align: center;
    z-index: 0;
}
@media screen and (max-width: 1025px){
.jumbotron8{
    height: 400px;
}
}
@media screen and (max-width: 769px){
.jumbotron8{
    height: 400px;
}
}
.jumbotron8 h2{
    font-family: 'Rubik', sans-serif;
}
.jumbotron8 p{
    font-family: 'Sarabun', sans-serif;
    padding: 15px 0px;
}
.submitemail{
    margin-bottom: 200px;
    font-family: 'Sarabun', sans-serif;
}
.submitemail form input[type=email], select {
    width: 20%;
    padding: 10px 20px;
    margin: 8px 15px 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  @media screen and (max-width: 1025px){
.submitemail form input[type=email], select{
    width: 30%;
}  
}
@media screen and (max-width: 769px){
.submitemail form input[type=email], select{
    width: 40%;
}
}

.submitemail form button[type=submit] {
    width: 12%;
    background-color: #41afff;
    box-shadow: 0px 0px 23px #adb3e2;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  @media screen and (max-width: 1025px){
  .submitemail form button[type=submit]{
      width: 15%;
  }
}
@media screen and (max-width: 769px){
.submitemail form button[type=submit]{
    width: 25%;
    padding: 10px 5px;
}
}
  .submitemail form button:hover{
      transition: 0.2s;
      background-color: #0c2050;
  }

  /* CSS JUMBOTRON FOOTER */
  .footerframe .jumbotron{
    border-radius: none!important;
  }
  .jumbotronfooter{
    padding: 100px 150px 0px 150px;
    margin-bottom: 0px !important;
    background-color: #0c2050;
    text-align: center;
    z-index: 0;
}
@media screen and (max-width: 1025px){
.jumbotronfooter{
    padding: 100px 50px 0px 50px;
}
}
@media screen and (max-width: 769px){
.jumbotronfooter{
    padding: 100px 50px 0px 50px;
}
}

.price{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background: linear-gradient(to right, #3874ea 0%, #4eb4ff 100%);
    z-index: 5;
    margin-top: -180px;
    margin-bottom: 80px;
    padding: 40px 80px;
}
@media screen and (max-width: 1025px){
.price{
    padding: 30px 40px;
}
}
@media screen and (max-width: 769px){
.price{
    padding: 35px 30px;
}
}
.price h3{
    font-family: 'Rubik', sans-serif;
}
@media screen and (max-width: 769px){
.price h3{
    font-size: 25px;
}
}
.price p{
    font-family: 'Sarabun', sans-serif;
}

.price .row .col-md-8{
    color: white;
    text-align: left;
}
.price .row .col-md-4{
    text-align: right;
}
.price button[type=submit] {
    width: 65%;
    background-color: #fff;
    color: #3874ea;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  @media screen and (max-width: 1025px){
    .price button[type=submit]{
        width: 80%;
        padding: 10px;
    }
}
@media screen and (max-width: 769px){
    .price button[type=submit]{
        width: 100%;
        padding: 10px 5px;
    }
}
  .price button:hover{
      transition: 0.3s;
      color: white;
    background: linear-gradient(to bottom, #0066ff 0%, #33ccff 100%);
  }
  .footer{
      padding-bottom: 100px;
  }
.footerleft{
text-align: left;
}
.footerleft p{
    color: #fff;
    font-size: 14px;
    padding-top: 15px;
}
@media screen and (max-width: 769px){
.footerleft p{
    font-size: 12px;
}
}
.signupfooter{
    padding-left: 10px;
}

.nav .signupfooter a:hover{
    background: linear-gradient(to bottom, #0066ff 0%, #33ccff 100%);
}
@media screen and (max-width: 769px){
.nav .signupfooter a:hover{
    padding: 5px 10px;
}
}
.footer .row .col-md-8 .nav .signupfooter a{
    color: #fff;
}
@media screen and (max-width: 769px){
.footer .row .col-md-8 .nav .signupfooter a{
    padding: 5px 10px;
    font-size: 12px;
}
}
@media screen and (max-width: 769px){
.footer .row .col-md-8 .nav .nav-item .nav-link{
    padding: 5px 10px;
    font-size: 12px;
}
}
.footer .row .col-md-8 .nav .nav-item a{
    color: #fff;
}
@media screen and (max-width: 769px){
.footer .row .col-md-8 .nav .nav-item a:hover{
    padding: 5px 10px;
}
}
.jumbotronfooter hr{
    width: 100%;
    text-align: center;
    border: 1px solid grey;
}
.copyright{
    padding-bottom: 20px;
}
.copyright .row .col-md-6 .copyrightleft{
    text-align: left;
}
.copyright .row .col-md-6 .copyrightleft p{
    color: #fff;
    font-size: 14px;
}
@media screen and (max-width: 769px){
.copyright .row .col-md-6 .copyrightleft p{
    font-size: 12px;
}
}

.copyright .row .col-md-6 .copyrightright{
    text-align: right;
}
.copyright .row .col-md-6 .copyrightright p{
    color: #fff;
    font-size: 14px;
}
.copyright .row .col-md-6 .copyrightright span{
    padding: 0px 5px;
}